<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/flexbox.css"/>
    <link rel="stylesheet" href="./css/grid.css"/>
    <script type ="text/javascript" src="app.js"></script>
    <title>Landing Page</title>

</head>
<body>

<div class="header">
    <h1>Weeks 1 thru 5</h1>
</div>

<h1>Description</h1>
<P>Showing the use of radio buttons and a landing page after successful login</P>
<div>
    <h2>MSSE 661 WEEKS</h2>
    <div>
        <input type="radio" name="rand1" id="ran1">
        <label for="ran1">Week 1 Web Development and the MEAN Stack</label>
    </div>
    <div>
        <input type="radio" name="rand2" id="ran2">
        <label for="ran2">Week 2 Git Basics and Web Layout</label>
    </div>

    <div>
        <input type="radio" name="rand3" id="ran3">
        <label for="ran3">Week 3 Intro to Webservers and Databases</label>
    </div>
    <div>
        <input type="radio" name="rand4" id="ran4">
        <label for="ran4">Week 4 Integrating Javascript and databases</label>
    </div>
    <div>
        <input type="radio" name="rand5" id="ran5">
        <label for="ran5">Week 5 Advance Javascript Concepts</label>
    </div>




</div>
<div class="footer">
    <footer>
        <p>Designed by Benjamin</p>
    </footer>
</div>
</body>
</html>