h1{
    color: black;
}
h2{
    color: darkblue;
}

.done{
    text-decoration: line-through;
}

li span{

    color: red;
    transition: all 2.3s;
    opacity: 0;
}

li span:hover{
    color: darkblue;
}
.task:hover span{
    opacity: 5;
}